.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.square{
	background-image: url('./Images/Sprite.png');
	background-size: 500%;
	position: absolute;
}
.circle {
	background-color: black;
	border-radius: 50%;
	position: absolute;
}
.background {
	background-image: url('./Images/oldPaper.png');
	background-size: cover;
	width: 100vw;
	height: 100vh;

}
