.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.square{
	background-color: black;
	position: absolute;
}
.circle {
background-color: black;
border-radius: 50%;
position: absolute;
}
